* {
    margin: 0px;
    padding:0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top:25%;
    margin-bottom: auto;

    
}

.container {
    background-color: slategray;
    color: snow;
    font-size: 3rem;
    

    border-radius: 5%;
    padding:1rem;
}

h2 {
    font-size: 1em;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

a {
    font-size: 0.5em;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}