body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: gray;
}

h1 {
  color: white;
  padding-left: 2rem;
}


.btn {
  /* color: #fff;*/
  border: none;
  background: none;


  font-size: 7em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: transform 200ms;
}

.btn:active {
  transform: scale(0.8);

}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}


.player-container {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  width: 25rem;
  height: 20rem;
}

.computer-container {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  width: 25rem;
  height: 20rem;
}
.score-container {
  background-color: black;

}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;

  border-radius: 4px;
  padding: 1rem;

}

.choices {
  display: flex;
  gap: 10em;

}
