body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: gray;
}

h1 {
  color: white;
}


.btn {
  color: #fff;
  background-color: black;
  padding: 2rem 5rem;
  font-size: 2em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  outline: 2px solid white;
  outline-offset: 0px;
  border: 2px solid white;
  transition: outline-offset 200ms;

  margin-top: 3em;
}

.btn:active {
  outline-offset: 8px;
  outline: 2px solid white;
}

.paragraph {
  max-width: 75ch;
}

p {
  color: whitesmoke;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;

  border-radius: 4px;
  padding: 1rem;

}

.choices {
  display: flex;
  gap: 20em;

}
